.year-counter {
    position: fixed;
    bottom: .6rem;
    right: 13rem;
    font-size: 1rem;
    color: white;
    padding: 5px;
    font-weight: 900;
    border-radius: 5px;
    z-index: 99999;

    span {
        font-weight: 100;
    }
  }
  