//#######################################################################  Interface  #######################################################################

.siteTitle {
  margin: 1rem 0 1rem 0;
  font-size: 3rem;
  font-weight: 100;
  color: white;
  font-family: "MuseoModerno", sans-serif;
  display: none;
}

//_________________________________________________________________________Planet list_________________________________________________________________________

.planet-list {
  z-index: 2;
  font-size: 1rem;
  position: fixed;
  left: 0; 
  top: 0; 
  color: white; 
  text-align: left;
  margin: .7rem 1.2rem;

  li:hover {
    color: #e6b000;
  }
}

//#######################################################################  Solar System  #######################################################################

//_________________________________________________________________________Orbits_________________________________________________________________________



.orbit-container {
  position: relative;
  transform: translateY(-50%);
}

.orbit-path {
  position: absolute;
  border: 1px dashed #cccccc2c;
  border-radius: 50%;
  z-index: 1;
}

//_________________________________________________________________________Planet Orbit Label_________________________________________________________________________


.label-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-label {
  font-size: .9rem;
  color: white;
  opacity: .5;
  margin-bottom: 1rem;
}
                      
//_________________________________________________________________________Planets_________________________________________________________________________

// Planet names
.planet-name {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1em;
  position: relative;
  left: 1rem;
}

.planet-container {
  position: relative;
  top: 0;
  left: 0;
  transform-origin: 0 0; 
}

.sun {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 2.45vw);
  left: calc(50% - 2.45vw);
  transform-origin: 50% 50%;
  animation: spin reverse 0.74s linear infinite;
  width: 5vw;
  height: 5vw;
  background-image: url('../src/assets/sun.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 21;
}

.planet {
    border-radius: 50%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.1s ease;


  &.mercury {
    animation-name: spin;
    animation-duration: 2.41s;
    animation-direction: reverse;
  }

  &.venus {
      animation-name: spin;
      animation-duration: 6.16s;
      animation-direction: normal;
  }

  &.earth {
      animation-name: spin;
      animation-duration: 10s; /* 10 = 360deg and 1 year */
      animation-direction: reverse;
  }

  &.mars {
      animation-name: spin;
      animation-duration: 18.8s;
      animation-direction: reverse;
  }

  &.jupiter {
      animation-name: spin;
      animation-duration: 118.8s;
      animation-direction: reverse;
  }

  &.saturn {
      animation-name: spin;
      animation-duration: 294.12s;
      animation-direction: reverse;
  }

  &.uranus {
      animation-name: spin;
      animation-duration: 840.38s;
      animation-direction: reverse;
  }

  &.neptune {
      animation-name: spin;
      animation-duration: 1657.53s;
      animation-direction: reverse;
  }
}


//________________________________________________________  Orbit Animation  __________________________________________________________

@keyframes orbit {
  from {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(0) rotate(0deg);
  }
}

//________________________________________________________  Planet Spin Animation  ________________________________________________________


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


//_________________________________________________________________________Media Queries_________________________________________________________________________


/* Tablet styles (for screens up to 1024px wide) */
@media (max-width: 1024px) {
 

  .planet-list {
    margin: .4rem .6rem;
    font-size: .8rem;
    width: 50%;

    li {
      margin: .7rem 0;
    }
  }

  .planet-label {
    font-size: .9rem;
  }
}

/* Mobile styles (for screens up to 768px wide) */
@media (max-width: 768px) {
 
  .planet-list {
    margin: .4rem .6rem;
    font-size: .8rem;

    li {
      margin: 1rem 0;
    }
  }

  .planet-label {
    font-size: .7rem;
  }
}
