//#######################################################################  Interface  #######################################################################

.siteTitle {
  margin: 1rem 0 1rem 0;
  font-size: 3rem;
  font-weight: 100;
  color: white;
  font-family: "MuseoModerno", sans-serif;
}

//_________________________________________________________________________Planet list_________________________________________________________________________

.planet-list {
  z-index: 2;
  font-size: 1rem;
  position: fixed;
  left: 0; 
  top: 0; 
  color: white; 
  text-align: left;
  margin: .7rem 1.2rem;

  li:hover {
    color: #e6b000;
  }
}

.UI-scroll-left {
  writing-mode: vertical-rl;
  position: absolute;
  left: 0rem;
  top: 55vh;
  opacity: .3;
}

.UI-scroll-right {
  writing-mode: vertical-rl;
  position: absolute;
  right: 0rem;
  top: 55vh;
  opacity: .3;
}

//_________________________________________________________________________Size and Scale buttons_________________________________________________________________________

.size-controls {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 13000;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: .9rem 10px;

  p {
    font-size: 1rem;
    font-weight: 900;
  }

  .distance-control-title {
    margin: 1rem 0 0 0;
    font-size: 1rem;
    font-weight: 900;
  }

  .distance-size-title {
    font-size: 1rem;
    font-weight: 900;
  }

}

.size-controls button {
  margin: 0 10px;
  padding: 5px 10px;
  width: 90px;
  background-color: #23005c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: .9rem;
  cursor: pointer;

  &:hover {
    background-color: #350288;
  }
}

.scale-interface {
  position: fixed;
  bottom: 1rem;
  width: 100vw;
  font-size: 1rem;
  letter-spacing: .1rem;
}

// Current planet distance
.current-distance {
  position: absolute;
  bottom: 0;
  left: 1rem;
  font-weight: 900;
  
  span {
    font-weight: 100;
  }
}

// Current planet scale
.current-scale {
  position: absolute;
  bottom: 0;
  right: 2.5rem;
  font-weight: 900;

  span {
    font-weight: 100;
  }
}

//_________________________________________________________________________User messages_________________________________________________________________________

// Planet loading text
.loading {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

// Scroll message
.scroll-message {
  position: fixed;
  bottom: 50vh;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 1.5rem;
}

// Scroll end message
.end-message {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white; /* Ensure it's visible */
}

// Scroll end sub-message
.sub-message {
  font-size: 1rem;
  opacity: .5;
}

//_________________________________________________________________________Planet spin_________________________________________________________________________


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}



//_________________________________________________________________________Orbits_________________________________________________________________________

.planet-label {
  font-size: .9rem;
  color: white;
  opacity: .5;
}
                      


.orbit-container {
  position: relative;
  transform: translateY(-50%);
}

.label-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-label {
  margin-bottom: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}


//________________________________________________________Orbits__________________________________________________________

@keyframes orbit {
  from {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(0) rotate(0deg);
  }
}


.orbit-path {
  position: absolute;
  border: 1px dashed #cccccc2c;
  border-radius: 50%;
  z-index: 1;
}

.planet-container {
  position: relative;
  top: 0;
  left: 0;
  transform-origin: 0 0; 
}

// Planet names
.planet-name {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1em;
  position: relative;
  left: 1rem;
}

.sun {
  position: absolute;
  width: 50px; /* Size of the planet */
  height: 50px; /* Size of the planet */
  border-radius: 50%; /* Make it circular */
  top: calc(50% - 2.45vw); /* Center vertically (50% - half of the planet's height) */
  left: calc(50% - 2.45vw); /* Center horizontally (50% - half of the planet's width) */
  transform-origin: 50% 50%; /* Set the transform origin to the center */
  animation: spin reverse 0.74s linear infinite; /* Spin animation */
  width: 5vw;
  height: 5vw;
  background-image: url('../src/assets/sun.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 20;
}


.planet {
    border-radius: 50%; // Makes the planets circular
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Starting shadow */
    transition: box-shadow 0.1s ease;


  &.mercury {
    animation-name: spin;
    animation-duration: 2.41s;
    animation-direction: reverse;
  }

  &.venus {
      animation-name: spin;
      animation-duration: 6.16s;
      animation-direction: normal;
  }

  &.earth {
      animation-name: spin;
      animation-duration: 10s; /* 10 = 360deg and 1 year */
      animation-direction: reverse;
  }

  &.mars {
      animation-name: spin;
      animation-duration: 18.8s;
      animation-direction: reverse;
  }

  &.jupiter {
      animation-name: spin;
      animation-duration: 118.8s;
      animation-direction: reverse;
  }

  &.saturn {
      animation-name: spin;
      animation-duration: 294.12s;
      animation-direction: reverse;
  }

  &.uranus {
      animation-name: spin;
      animation-duration: 840.38s;
      animation-direction: reverse;
  }

  &.neptune {
      animation-name: spin;
      animation-duration: 1657.53s;
      animation-direction: reverse;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//_________________________________________________________________________Modal_________________________________________________________________________

.planet-modal {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 200px;
  max-height: 150px;
  overflow: hidden;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}


//_________________________________________________________________________Media Queries_________________________________________________________________________


/* Tablet styles (for screens up to 1024px wide) */
@media (max-width: 1024px) {
  .siteTitle {
    font-size: 1.9rem;
  }

  .size-controls {

    margin: .4rem 0 0 0;
    
    p {
      font-size: .8rem;
      font-weight: 900;    }
  
    .distance-control-title {
      margin: .8rem 0 0 0;
      font-size: 1rem;
      font-weight: 900;
    }

    .distance-size-title {
      font-size: 1rem;
      font-weight: 900;
    }
  
  }

  .planet-list {
    margin: .4rem .6rem;
    font-size: .8rem;

    li {
      margin: .7rem 0;
    }
  }

  .size-controls button {
    font-size: .8rem;
  }

  .planet-label {
    font-size: .9rem;
  }
}

/* Mobile styles (for screens up to 768px wide) */
@media (max-width: 768px) {
  .siteTitle {
    font-size: 1.2rem;
  }

  .size-controls {

    margin: .4rem 0 0 0;
    
    p {
      font-size: .8rem;
      font-weight: 900;    }
  
    .distance-control-title {
      margin: .8rem 0 0 0;
    }
  
  }

  .planet-list {
    margin: .4rem .6rem;
    font-size: .8rem;

    li {
      margin: 1rem 0;
    }
  }

  .size-controls button {
    font-size: .8rem;
  }

  .planet-label {
    font-size: .7rem;
  }
}

/* Small tablets or large mobile devices (for screens up to 600px wide) */
@media (max-width: 600px) {

}

/* Small mobile devices (for screens up to 480px wide) */
@media (max-width: 480px) {

}

